/* Configuração global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00131c;
  color: #fff;
  font-family: sans-serif;
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #1f2833;
  width: 320px;
  height: 50px;
  margin: 40px auto 0;
  border-radius: 15px;
  max-width: 1100px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

nav ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* responsividade do menu */
@media (max-width: 600px){
  nav {
    width: 90%;
    padding: 10px;
  }
  nav ul {
    gap: 20px;
  }
  nav ul li a img {
    width: 18px;
    height: 18px;
  }
}

.tooltip {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1f2833;
  color: white;
  padding: 5px 8px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.27s ease-out;
  pointer-events: none;
}

nav ul li a:hover .tooltip {
  opacity: 1;
  bottom: -42px;
}

nav ul li a img {
  width: 22px;
  height: 22px;
  transition: transform 0.3s ease;
  filter: brightness(0) saturate(100%) invert(100%) !important;
}

section {
  padding: 70px;
  text-align: center;
}


a {
  color: #124fbf;
  text-decoration: none;
}

.profile-pic {
  width: 130px;
  height: 130px;
  border-radius: 15px;
  object-fit: cover;
  border: 3px solid #1f4959;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-links a img {
  width: 32px;
  height: 32px;
  transition: transform 0.2s ease-in-out;
  filter: brightness(0) saturate(100%) invert(100%) !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}