/* Configuração global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020813;
  color: #fff;
  font-family: "sans-serif", monospace;
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #091122;
  width: 292px;
  height: 48px;
  margin: 30px auto 0;
  border-radius: 15px;
}

nav h1 {
  font-size: 24px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(18, 79, 191, 0.9);
  color: white;
  padding: 3px 5px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: transform 0.27s ease-out, opacity 0.27s ease-out,
    bottom 0.27s ease-out;
  pointer-events: none;
}

nav ul li a:hover .tooltip {
  opacity: 1;
  transform: translateX(-50%);
  bottom: -40px;
}

nav ul li a:not(:hover) .tooltip {
  transform: translateX(-50%);
  opacity: 0;
  bottom: -15px;
}

nav ul li a img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
  filter: brightness(0) saturate(80%) invert(100%) !important;
}

section {
  padding: 60px;
  text-align: center;
}

.project-card {
  background: #124fbf;
  padding: 20px;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 400px;
}

a {
  color: #124fbf;
  text-decoration: none;
}
